<f:if condition="{includeCss}">
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Stylesheets/cookieconsent.min.css', package: 'KaufmannDigital.CookieConsent')}" />
</f:if>

<f:if condition="{includeJavaScript}">
    <script src="{f:uri.resource(path: 'JavaScript/cookieconsent.min.js', package: 'KaufmannDigital.CookieConsent')}"></script>
</f:if>
<script>
    <![CDATA[
    var settings =]]>{settings -> f:format.raw()}<![CDATA[;

    var enableEvent = document.createEvent("CustomEvent");
    enableEvent.initCustomEvent('kd-cookieconsent', false, false, "enable-cookies");
    var disableEvent = document.createEvent("CustomEvent");
    disableEvent.initCustomEvent('kd-cookieconsent', false, false, "disable-cookies");

    settings.onInitialise = function (status) {
        var type = this.options.type;
        var didConsent = this.hasConsented();
        if (type === 'opt-in') {
            if (status === 'allow') {
                document.dispatchEvent(enableEvent);
            } else {
                document.dispatchEvent(disableEvent);
            }
        }
        if (type === 'opt-out' && !didConsent) {
            document.dispatchEvent(disableEvent);
        }
    };
    settings.onStatusChange = function (status) {
        var type = this.options.type;
        var didConsent = this.hasConsented();
        if (type === 'opt-in') {
            if (status === 'allow') {
                document.dispatchEvent(enableEvent);
            } else {
                document.dispatchEvent(disableEvent);
            }
        }
        if (type === 'opt-out' && !didConsent) {
            document.dispatchEvent(disableEvent);
        }
    };
    settings.onRevokeChoice = function() {
        var type = this.options.type;
        if (type === 'opt-in') {
            document.dispatchEvent(disableEvent);
        }
        if (type === 'opt-out') {
            document.dispatchEvent(enableEvent);
        }
    };
    window.addEventListener("load", function(){
        window.cookieconsent.initialise(settings)});
    ]]>
</script>
